body, html {
    height: 96%;
}

.center {
  text-align: center;
}

header {
  background-image: url(https://docs.google.com/uc?export=download&id=0B5nwes1oxhrpNDZwZ3lnTW1US3c);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_title_div {
  color: white;
  font-family: courier;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-left: 5%;
  margin-right: 5%;
}

/* CSS for section one in main section */
.section_one_heading {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  font-family: courier;
}

.section_one_container {
  border: 2px solid black;
  height: 300px;
  display: flex;
  flex-direction: row;
}



