body {
    background-image: url(https://source.unsplash.com/21FqSKZQGzI);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

h1 {
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 5px;
}

.main_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.heading_title {
  text-transform: uppercase;
  color: white;
  background-color: rgba(146,12,204,0.7); 
  border-radius: 3px;
  padding: 10px;
}

.board_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_board {
  width: 200px;
  height: 200px;
  background-color: rgba(146,12,204,0.7); 
  border-radius: 5px;
}

.player_label {
  color: white;
}

.current_player {
  color: green;
}

.row_one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.row_two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row_three {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* CSS for individual squares */
.one_square {
  height: 50px;
  width: 50px;
  font-size: 30px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.two_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.three_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.four_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.five_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.six_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-bottom: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seven_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-right: 3px solid white;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.eight_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  border-right: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nine_square {
  font-size: 30px;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 10px;
  border: 1px solid orange;
  background-color: orange;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  text-transform: uppercase;
}




